@import "../../styles.scss";

.custom-carousel-item {
  position: relative;
  height: 13rem;

  overflow: hidden;
  transition: transform 1s ease-in-out;

  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: $carousel-background;
    color: $carousel-caption;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: var(--radius15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    width: 70%;
    box-shadow: var(--box-shadow10px);

    h3 {
      margin: 0;
      font-size: clamp(1.2rem, 2.5vw, 2rem);
      width: 100%;
      box-sizing: border-box; // to include padding in width calculation
      text-align: center;
    }
  }
}
